.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #283060;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    padding-top: 2.5vw;
    padding-bottom: 2vw;
    /* z-index: 1; */
}

.nav-items a {
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 0 2.5vw;
    transition: .3s;
    transition-property: color;
}

.nav-items a:hover {
    color: #ef224b;
}

.nav-list {
    list-style: none;
    padding-left: 0;
}

.logo {
    /* width: 200px; */
    height: 35px;
    margin-top: -8px;
}

.list-item {
    padding-bottom: 50px;
    /* margin-bottom: 500px; */
    /* padding: 500px 20px; */
}

.list-item a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.6rem;
    transition: .3s;
    transition-property: color;
}

.list-item a:hover {
    color: #ef224b;
}

.ham {
    position: relative;
    display: none;
    z-index: 9999;
    height: 40px;
    top: 20px;
}

.social {
    position: fixed;
    bottom: 0;
    left: 58px;
    display: flex;
    flex-direction: column;
    align-self: center;
    z-index: 2;
}

.social a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

.social-i {
    color: white;
    font-size: 20px;
    margin: 10px auto;
    transition: .3s;
    transition-property: color;
}

.social-i:hover {
    color: #ef224b;
    animation: wobble .75s 1 ease-in-out;
}

.email {
    position: fixed;
    bottom: 0;
    right: 58px;
    display: flex;
    flex-direction: column;
    align-self: center;
    z-index: 999;
}

.add-on {
    animation: bottomUp .7s 1 0s linear;
    animation-delay: .5s;
}

.mail-line {
    background-color: white;
    width: 2px;
    height: 150px;
    margin-top: 30px;
}

.social-line {
    background-color: white;
    width: 2px;
    height: 135px;
    margin-top: 30px;
}

.mail {
    writing-mode: vertical-rl;
    font-size: 10px;
    line-height: 20px;
    text-decoration: none;
    left: 2px;
    color: white;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.mail:hover {
    color: #ef224b;
}

.floatingNav {
    height: 15px;
    box-shadow: 0 1px 10px #051020;
    padding-top: 1.5vw !important;
    transition: 350ms;
    transition-property: padding;
    z-index: 3;
}

.popup-overlay {
    display: none !important;
    position: relative;
    z-index: 99999;
}

.popout {
    z-index: 99999;
    position: relative;
}

@media (max-width: 1300px) {
    .add-on {
        display: none;
    }
}

@media (max-width: 990px) {
    .ham {
        display: block;
        margin-left: 50%;
    }
    .nav-items {
        display: none;
    }
    .nav-bar {
        padding-top: 4vw; 
    }
    .popup-overlay {
        display: flex !important;
    }
    .floatingNav {
        height: 30px;
        padding-top: 1.5vw !important;
    }
    .logo {
        margin-top: 0px;
    }
}

@media (max-width: 848px) {
    .floatingNav {
        height: 35px;
    }
}

@media (max-width: 600px) {
    .floatingNav {
        height: 40px;
    }
}

@media (max-width: 400px) {
    .logo {
        width: 100px;
        height: 30px
    }
}

@media (max-width: 320px) {
    .logo {
        width: 90px;
        height: 25px
    }
}

@keyframes bottomUp {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }
    100% {
        transform: rotate(xx) translateY(0);
        opacity: 1;
    }
}

@keyframes wobble {
    25% {
      transform: translateY(-8px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(-4px);
    }
    100% {
      transform: translateY(0px);
    }
}
