#portfolio {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 180px;
    padding-top: 120px;
}

#portfolio h1 {
    font-size: 3.5rem;
    letter-spacing: -1px;
    margin-bottom: 15px;
}

#portfolio h3 {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.project-tabs {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.project-tab {
    cursor: pointer;
    user-select: none;
    line-height: 50px;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    width: 180px;
    transition: .3s;
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-right: 0;
    z-index: 2;
}

.project-tab::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 2;
}

.active-project::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ef224b;
    z-index: 2;
}

.active-project {
    color: #ef224b;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    z-index: 2;
}

.All, .Other, .Web, .Mobile {
    display: grid;
    /* grid-template-rows: repeat(auto-fit,minmax(400px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(23vw, 1fr));
    gap: 2vw;
    margin-top: 50px;
    width: 100%;
}

.project-card {
    justify-self: stretch;
    position: relative;
    height: 20vw;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    z-index: 2;
}

.project-card img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: .3s ease-in;
    transition-property: transform;
}

.project-card:hover img {
    transform: scale(1);
}

.project-card:hover .card-content {
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-content {
    height: 6vw;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #303a74;
    transition: .4s ease-in;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    padding-left: 1.5vw;
}

.card-content h4 {
    font-size: 1.35vw;
    font-weight: 700;
    margin-bottom: 0.5vw;
    margin-top: 1.2vw;
}

.card-content h5 {
    font-size: 1vw;
    font-weight: 500;
    margin-bottom: 2.4vw; 
}

.card-content p {
    text-align: left;
    font-weight: 400;
    letter-spacing: .5px;
    font-size: 0.9vw;
}

.card-icons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding: 30px; */
    padding-top: 2vw;
    padding-left: 0;
}

.card-icon {
    cursor: pointer;
    margin-left: 0px;
    width: 2.7vw;
    height: 2.7vw;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ef224b;
    background: linear-gradient(90deg,#ef224b 0,#e6506e 100%);
    transition: .1s;
    text-decoration: none;
}

.card-i {
    font-size: 1.5vw;
}

.demo {
    margin-left: -10vw;
}

.view-btn {
    background-color: #ef224b;
    margin-top: 80px;
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width: 1481px) {
    .demo {
        margin-left: -15vw;
    }
}


@media (max-width: 1481px) and (min-width: 1110px) {
    .project-card {
        width: 30vw
    }
}

@media (max-width: 1300px) {
    #portfolio {
        padding-left: 58px;
        padding-right: 58px;
    }
    .card-content h4 {
        font-size: 17.4px;
    }
    .card-content h5 {
        font-size: 13px
    }
    .card-content p {
        font-size: 11.6px;
    }
}

@media (max-width: 1100px) {
    .card-content {
        height: 6.5vw;
    }
}

@media (max-width: 990px) {
    .project-card {
        width: 100%;
        height: 23vw;
    }
    .project-card img {
        height: 16vw;
    }
    .All, .Other, .Mobile, .Web {
        grid-template-columns: repeat(auto-fit, minmax(29vw, 1fr));
    }
    .demo {
        margin-left: -25vw;
    }
    .card-content {
        height: 7vw;
    }
    #portfolio h1 {
        font-size: 3rem;
    }
    #portfolio h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 780px) {
    #portfolio {
        padding-left: 88px;
        padding-right: 88px;
    }
    .All, .Other, .Mobile, .Web {
        grid-template-columns: repeat(auto-fit, minmax(38vw, 1fr));
    }
    .project-card {
        height: 30vw;
    }
    .project-card img {
        height: 22vw;
    }
    .card-content {
        height: 8vw;
    }
    .project-tab {
        font-size: 16px;
        width: 100px;
    }
}

@media (max-width: 730px) {
    .demo {
        margin-left: -50vw;
    }
    .card-content h4 {
        font-size: 2.4vw;
    }
    .card-content h5 {
        font-size: 1.8vw;
    }
    .card-content p {
        font-size: 1.6vw;
    }
}

@media (max-width: 600px) {
    #portfolio {
        padding-left: 58px;
        padding-right: 58px;
    }

    .All, .Other, .Mobile, .Web {
        grid-template-columns: repeat(auto-fit, minmax(39vw, 1fr));
    }

}

@media (max-width: 400px) {
    .project-tab {
        font-size: 13px;
    }
    .card-content {
        height: 8.5vw;
    }
}