* {
    color: white;
}

#home {
    padding-bottom: 60px;
}

.info {
    width: 540px;
    margin-left: 12%;
    padding-top: 300px;
    position: relative;
    top: 40px;
    /* margin: 0 auto */
    padding-bottom: 350px;
    z-index: 2;
    transition: .3s;
    transition-property: margin-left;
}

.ani {
    width: 53.6vw;
    height: 700px;
    padding-bottom: 120px;
    margin-top: -810px;
    margin-right: 75px;
    position: relative;
    z-index: 2;
    transition: .3s;
    transition-property: margin-right, width;
}

.typing {
    position: relative;
    font-size: 2.4vw;
    font-weight: 600;
    z-index: 2;
}

.name {
    color: #ef224b;
    z-index: 2;
}

.info h3 {
    position: relative;
    font-size: 1.48vw;
    font-weight: 600;
    z-index: 2;
}

.info h1 {
    position: relative;
    font-size: 3.83vw;
    font-weight: 700;
    z-index: 2;
}

.btn {
    width: 180px;
    height: 55px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 6px 21px 6px rgba(0,0,0,.2);
    user-select: none;
    transition: .3s;
    transition-property: box-shadow;
    border: 0;
    z-index: 2;
}

.btn:hover {
    box-shadow: 5px 6px 12px 4px rgba(0,0,0,.31)
}

.contact-btn {
    background-color: #303a74;
} 

.download-btn {
    background-color: #ef224b;
}

button a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 50px;
}


@media (max-width: 1550px) {
    .btn {
        width: 160px;
        height: 50px;
    }
    .info {
        margin-left: 10%;
    }
}

@media (max-width: 1400px) {
    .info {
        margin-left: 8%;
    }
    .ani {
        margin-top: -795px;
    }
}

@media (max-width: 1300px) {
    .info {
        margin-left: 4.5%;
    }
    .ani {
        margin-right: 0px;
        margin-top: -780px;
    }
}

@media (max-width: 1150px) {
    .info {
        margin-left: 3%;
    }
    .ani {
        margin-top: -770px;
    }
}

@media (max-width: 990px) {
    #home {
        display: grid;
        grid-template-rows: auto auto;
    }
    .typing {
        line-height: 50px;
    }
    .buttons {
        /* margin-top: 1rem; */
        justify-content: center;
        gap: 30px
    }
    .ani {
        margin-top: 0;
        /* margin-bottom: 0px; */
        width: 800px;
        height: 500px;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .info {
        margin-top: 200px;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0;
        padding-bottom: 30px;
    }
    .info h1 {
        font-size: 7.6vw;
    }
    .info h3 {
        font-size: 3vw;
    }
    .typing {
        font-size: 4.8vw;
    }
}

@media (max-width: 810px) {
    .ani {
        width: 100vw;
        height: 62vw;
        padding-bottom: 15vw;
    }
    .info {
        margin-top: 25.03vw;
    }
    .buttons {
        padding-top: 6.2vw;
    }
}

@media (max-width: 540px) {
    .ani {
        width: 90vw;
    }
    .info {
        width: 100vw;
    }
    .btn {
        width: 120px;
        height: 40px;
    }
}
/* @media only screen and (max-width: 1200px) {
    .section {
        padding-left:8%;
        padding-right: 8%
    }

    .add-on {
        display: none
    }

    .nav-bar {
        padding-left: 8%;
        padding-right: 8%
    }

    .main-wrapper {
        margin-left: 8%
    }

    .about-img img {
        min-height: 570px
    }
}

@media only screen and (max-width: 970px) {
    html {
        font-size:8px
    }

    .nav-bar {
        padding-left: 10%;
        padding-right: 5%;
        height: 80px
    }

    .floatingNav {
        height: 55px
    }

    .nav-elements {
        opacity: 0;
        display: none;
        background-color: var(--dark-shadow);
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw
    }

    .nav-visible {
        display: flex;
        transition: .5s;
        transition-property: opacity;
        opacity: 1
    }

    .nav-links {
        flex-direction: column
    }

    .nav-link {
        margin-top: 5vh
    }

    .nav-links a {
        padding-left: 0;
        padding-right: 0;
        font-size: 3rem
    }

    #nav-btn {
        background-color: #11233f;
        margin-left: 0;
        margin-top: 10vh;
        width: 180px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    #nav-btn p {
        font-size: 2.4rem
    }

    .ham {
        display: block;
        position: relative;
        z-index: 20
    }

    .main-wrapper {
        margin-left: 15%
    }

    .main {
        margin-top: 0;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center
    }

    .main-content h2 {
        line-height: 50px
    }

    .primary {
        margin-right: 20px
    }

    .btn-grp {
        margin-top: 3rem;
        justify-content: center
    }

    .main-img {
        position: static;
        right: 0
    }

    .main-img {
        margin-bottom: 5vh;
        height: 50%
    }

    .hero-img {
        width: 75vw;
        max-width: 500px
    }

    .section {
        padding: 60px 8%
    }

    .about {
        flex-direction: column;
        padding-bottom: 0
    }

    .about-content {
        margin-left: 0;
        flex-basis: 70%
    }

    .about-img img {
        min-height: 200px;
        min-height: 200px;
        max-width: 500px;
        max-height: 500px;
        height: 70vw;
        width: 70vw;
        object-fit: cover
    }

    .about-brief h1 {
        margin-top: 30px
    }

    .about-brief {
        margin-bottom: 0
    }

    .tab {
        font-size: 2.2rem
    }

    .contact-wrapper {
        flex-direction: column
    }

    .contact-details {
        margin-top: 8rem;
        align-items: center
    }

    .contact-container {
        width: auto
    }

    .s-head {
        text-align: center;
        margin-top: 2rem
    }

    .social-media-pack {
        justify-content: center
    }

    .social-media-pack a {
        margin: auto 1rem;
        margin-bottom: 2rem
    }
}

@media screen and (max-width: 720px) {
    .all-works,.other-works {
        grid-template-columns:1fr
    }
}

@media only screen and (max-width: 600px) {
    .main {
        padding-top:60px;
        padding-bottom: 60px
    }

    .about {
        padding-bottom: 0
    }

    .main-content h1 {
        font-size: 10vw
    }

    .main-content h2 {
        font-size: 5.5vw
    }

    .main-content h3 {
        font-size: 4.7vw;
        margin-bottom: 15px
    }

    .btn-grp {
        width: 100%
    }

    .about-brief h1 {
        font-size: 4.3rem;
        text-align: center
    }

    .tab-content {
        height: 70px
    }

    .card-content {
        padding-top: 20px
    }

    .card-content p {
        font-size: 1.7rem
    }

    .card-content h4 {
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: .8rem
    }

    .card-content h5 {
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--dim-white);
        margin-bottom: 20px
    }

    .contact-container {
        padding: 0 7vw
    }
}

@media only screen and (max-width: 400px) {
    .btn {
        width:40vw;
        height: 12.8vw
    }

    .btn p {
        font-size: 4vw
    }

    .portfolio h3 {
        font-size: 2rem
    }

    .project-tabs {
        margin-top: 4rem
    }
}

@media only screen and (min-height: 580px) and (max-width:500px) {
    .main {
        padding-top:18vh
    }

    .main-content {
        padding-top: 3vh
    }
} */
